
<template>
  <div id="AppView" style="background-color:lightgray;">
    <DashboardView class="aView" v-show="this.view===0"/>
    <RoutePlannerView class="aView" v-show="this.view===1"/>
    <BuyPassesView class="aView" v-show="this.view===2"/>
    <SetEventsView class="aView" v-show="this.view===3"/>
  </div>
</template>

<script>
import DashboardView from "./DashboardView.vue";
import RoutePlannerView from "./RoutePlannerView.vue";
import BuyPassesView from "./BuyPassesView.vue";
import SetEventsView from "./SetEventsView.vue";

export default {
  props: {
    view: {
      type: Number,
      default: 0
    }
  },
  data() {
    return {
      
    };
  },
  components: {
    DashboardView,
    RoutePlannerView,
    BuyPassesView,
    SetEventsView
  }
};
</script>

<style>

.aView{
  height: 100%;
}

</style>