<template>
  <div id="BuyPassesView">
    <FeedWidget type="passes"/>
    <TicketBuyerWidget/>
  </div>
</template>

<script>
import FeedWidget from './FeedWidget'
import TicketBuyerWidget from './TicketBuyerWidget'

export default {
  name: 'BuyPassesView',
  components: {
    FeedWidget,
    TicketBuyerWidget
  }
}
</script>

<style scoped>

#BuyPassesView{
  display: grid;
  box-sizing: border-box;
  max-height: 100%;
  max-width: 100%;
  grid-template-rows: repeat(1, 100%);
  grid-template-columns: repeat(2, 1fr);

  grid-template-areas: "feed buyer";
  row-gap: 48px;
  column-gap: 48px;
  padding: 96px;

  background-color: #ffffff;

}

#FeedWidget{
  grid-area: feed;
}

#TicketBuyerWidget{
  grid-area: buyer;
}


</style>