<template>
  <div id="DashboardView">
    <date-time-widget 
      @price-updated="updatePrice"
      @time-updated="updateTime"
      @date-updated="updateDate"
    />
    <maps-widget 
      :isRoute="false"
      :priceData="priceData"
      :time="time"
    />
    <event-display-widget 
      id="liveEvents"
      title="Live Events"
      eventType="live"
      :date="date"
    />
    <event-display-widget 
      id="plannedEvents"
      title="Upcoming Events"
      eventType="planned"
      :date="date"
    />
    <price-display-widget v-for="i in zoneData" :key="i.priceId"
      :id="i.priceId"
      :name="i.name"
      :zoneId="i.id"
      :priceData="priceData[i.id]"
      :time="time"
    />

  </div>
</template>

<script>
import MapsWidget from './MapsWidget.vue'
import DateTimeWidget from './DateTimeWidget.vue'
import EventDisplayWidget from './EventDisplayWidget.vue'
import PriceDisplayWidget from './PriceDisplayWidget.vue'
import axios from 'axios';

export default {
  name: "DashboardView",
  components: {
    DateTimeWidget,
    MapsWidget,
    EventDisplayWidget,
    PriceDisplayWidget
  },
  data() {
    return {
      zoneData: {},
      priceData: null,
      time: 0,
      date: {'year':0, 'month':0, 'day':0}
    }
  },
  methods:{
    updatePrice(data) {
      console.log("updatePrice: ");
      console.log(data);
      this.priceData = data;
    },
    updateTime(time) {
      console.log(`updateTime: ${time}`);
      this.time = time;
    },
    updateDate(date) {
      console.log(`updateDate: ${date}`);
      this.date = date;
    }
  },
  created() {
    axios.get('http://34.89.85.191/zones').then(
      response => {
        for(let zone in response.data.zones){
          axios.get('http://34.89.85.191/zones/'+response.data.zones[zone].id).then(
            zone_response => {
              
              // compose zone data
              this.zoneData[zone_response.data.id] = {
                id: zone_response.data.id,
                priceId: "price"+(parseInt(zone)+1),
                name: zone_response.data.name
              };
            }
          )
        }
      }
    )
    this.updateTime(new Date().getHours());
  }
}
</script>

<style scoped>

#DashboardView{
  display: grid;
  box-sizing: border-box;
  grid-template-rows: repeat(9, 1fr);
  grid-template-columns: repeat(9, 1fr);

  grid-template-areas: 
  "time time time time time . . . ."
  "map   map  map  map  map event1 event1 event2 event2"
  "map   map  map  map  map event1 event1 event2 event2"
  "map   map  map  map  map event1 event1 event2 event2"
  "map   map  map  map  map event1 event1 event2 event2"
  "price1 price1 price2 price2 price3 price3 price4 price4 ."
  "price1 price1 price2 price2 price3 price3 price4 price4 ."
  "price5 price5 price6 price6 price7 price7 price8 price8 ."
  "price5 price5 price6 price6 price7 price7 price8 price8 .";
  row-gap: 48px;
  column-gap: 48px;
  padding: 96px;

  background-color: #ffffff;
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: normal;
  font-size: 1.4vw;
}

#DateTimeWidget{
  grid-area: time;

}

#MapsWidget{
  grid-area: map;

}

#liveEvents{
  grid-area: event1;
}

#plannedEvents{
  grid-area: event2;
}

#price1{
  grid-area: price1;
}

#price2{
  grid-area: price2;
}

#price3{
  grid-area: price3;
}
#price4{
  grid-area: price4;
}
#price5{
  grid-area: price5;
}
#price6{
  grid-area: price6;
}
#price7{
  grid-area: price7;
}
#price8{
  grid-area: price8;
}



</style>