<template>
    <div class="EventItem" :class="{planned: isPlanned, live: isLive}">
        <div id="Title"><p>{{title}}</p></div>
        <div id="Date"><p>{{print_date}}</p></div>
        <div id="Location"><p>{{zone}}</p></div>
        <div id="Weblink">
            <a v-if="websiteExists" target="_blank" rel="noopener noreferrer" :href="'https://'+website">   
            <i class="fas fa-external-link-alt">
            </i>
            </a>
        </div>
    </div>
</template>

<script>
export default {
    name: "EventItem",
    props: [
        "type",
        "title",
        "startDate",
        "startTime",
        "endTime",
        "zone",
        "website",
    ],
    computed: {
        isPlanned(){
            return this.type === "planned"
        },
        isLive(){
            return this.type === "live"
        },
        print_date(){
            if(this.isPlanned){
                return this.startDate + " " + this.startTime +  " to " + this.endTime;
            }
            if(this.isLive){
                return this.startDate + " @ " + this.startTime
            }else{
                return "Error no type found"
            }
        },
        websiteExists(){
            return !(this.website == null || this.website == '')
        }
    }    
}
</script>

<style scoped>

.EventItem{
    box-sizing: border-box;
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: row;

    padding-top: 8px;
    padding-bottom: 8px;
}

.planned{
    background: rgba(109, 228, 157, 0.3);
}

.live{
    background: rgba(228, 181, 109, 0.3);
}

#Title, #Date, #Location, #Weblink{
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 4%;
    box-sizing: border-box;
    font-size: 1vw;
}

#Title{
    width: 30%;
    text-transform: uppercase;
    text-align: left;
}

#Date{
    width: 40%;
    justify-content: center;
}

#Location{
    width: 10%;
}

#Weblink{
    box-sizing: border-box;
    width: 20%;
    padding-right: 4%;
    justify-content: center;
}



</style>