<template>
<div class="EventDisplayWidget">
    <div id="Title"> {{this.title}}</div>
    <div v-if="eventType === 'planned'" id="EventList">
        <div v-for="e in this.eventsList" v-bind:key="e.id">
            <PlannedEventItem :date=e.date :description=e.name :zoneId=e.zoneId :startTime=e.startDatetime :endTime=e.endDatetime :website=e.description></PlannedEventItem>
        </div>
    </div>
    <div v-if="eventType === 'live'" id="EventList">
        <div v-for="e in this.eventsList" v-bind:key="e.id">
            <LiveEventItem :iconType=e.iconType :description=e.name :zoneId=e.zoneId :location=e.zoneId></LiveEventItem>
        </div>
    </div>
</div> 
</template>

<script>
import LiveEventItem from './LiveEventItem.vue'
import PlannedEventItem from './PlannedEventItem.vue'
import axios from 'axios';

export default {
    name: 'EventDisplayWidget',
    components: {
        LiveEventItem,
        PlannedEventItem
    },
    props: [
        "title",
        "eventType",
        "date"
    ],
    data() {
        return {
            events: []
        }
    },
    computed: {
        eventsList() {
            
              let results = [];
              if (this.eventType == "planned"){
                  for(let event in this.events){
                      if(this.events[event].type == "planned" &&this.upcoming(this.events[event])){
                          results.push(this.events[event])
                      }
                  }
              }
              else if (this.eventType == "live"){
                  for(let event in this.events){
                      if(this.events[event].type == "live" &&this.upcoming(this.events[event])){
                          results.push(this.events[event])
                      }
                  }
              }

              return results;
        }
    },
    methods: {
        getEvents() {
          axios.get('http://34.89.85.191/events').then(
            response => {
                this.events = response.data.events;
                //console.log(this.data);
            }
          )
        },
        upcoming(event) {
          let eventFullDate = new Date(event.startDatetime);
          let eventDate = {
            'year': eventFullDate.getFullYear(),
            'month': eventFullDate.getMonth()+1,
            'day': eventFullDate.getDate()
          }
          return (this.date.year <= eventDate.year &&
                  this.date.month <= eventDate.month &&
                  this.date.day <= eventDate.day);
        }
    },
    created(){
        this.getEvents();
        setInterval(this.getEvents, 3000);
    }
}
</script>

<style scoped>

.EventDisplayWidget{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #EEEEEE;

    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: normal;
    align-items: center;
    text-align: center;
    text-transform: uppercase;

}

#Title{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-weight: bold;
    border-bottom: 1px solid #444444;
    font-size: 1vw;
}

#EventList{
    list-style-type: none;
    height: auto;
    width: 100%
}

.LiveEventItem{
    width: 100%;
    max-height: 33%;    
}

.PlannedEventItem{
    width: 100%;
    max-height: 33%;    
}


</style>