<template>
  <div id="MapsWidget">
    <gmap-map id="map"
      :center="center"
      :zoom="12"
      :options="{disableDefaultUI: true}"
    >
    <gmap-polygon
    v-for="region in regions"
    :id="region.id"
    :key="region.id"
    :paths="region.coordinates"
    :options="getOptions[region.id]"/>

    <GmapMarker v-if="isRoute"
    v-bind:position = "marker_position"
    :clickable = "true"
    :draggable = "true"
    @dragend="updateRoute"/>

    <gmap-polyline v-bind:path.sync="route_paths" v-bind:options="{ strokeColor:'#FF2000'}">
         </gmap-polyline>
    </gmap-map>
  </div>
</template>

<script>
import {gmapApi} from 'vue2-google-maps';
import axios from 'axios';

export default {
  name: "MapsWidget",
  props: [
    "isRoute",
    "priceData",
    "time"
  ],
  data() {
    return {
      demo: "nothing",
      center: { lat: 53.959702, lng: -1.082480},
      marker_position: { lat: 53.959702, lng: -1.082480},
      route_paths: [],
      regions: [],
    };
  },
  methods: {
      updateRoute(coordinates){
        var directionsService = new this.google.maps.DirectionsService();
        // Update the new marker position
        this.marker_position = {lat: parseFloat(coordinates.latLng.lat()), lng: coordinates.latLng.lng()};
        // All the entry points into the city of York
        let entry_points = [
          {lat: 53.956755, lng: -1.011893},
          {lat: 53.989973, lng: -1.024081},
          {lat: 53.987046, lng: -1.124331},
          {lat: 53.973115, lng: -1.143214},
          {lat: 53.920277, lng: -1.151969},
          {lat: 53.925432, lng: -1.066653},
        ];
        // Get closest entry point as the bird flys
        let entry_point_dis = entry_points.map(x => 
          (x.lat - this.marker_position.lat)**2 + (x.lng - this.marker_position.lng) ** 2
        );
        let closest_entry_point = entry_points[entry_point_dis.indexOf(Math.min(...entry_point_dis))];
        // Build up our requestions
        let request = {
          origin: closest_entry_point,
          destination: this.marker_position,
          travelMode: 'DRIVING'
        };
        // Bind this explicity as it doesn't exist within the callback function
        var this_ = this;
        directionsService.route(request, function(result, status){
          if(status == 'OK'){
            console.log("Route found");
            this_.route_paths = [];
            for(let point in result.routes[0].overview_path){
              this_.route_paths.push(
                {
                  lat: result.routes[0].overview_path[point].lat(),
                  lng: result.routes[0].overview_path[point].lng()
                }
              );
            }
            console.log(this_.route_paths);
            }else{
              console.log(status);
            }
          }
        );
        
     }
  },
  computed: {
    // Get the google maps api from vue2-google-maps
    google: gmapApi,
    regionColors(){
      let colors = {};
      for (let region in this.regions) {
        if(this.priceData != undefined &&
          Object.hasOwnProperty.call(this.priceData, this.regions[region].id) &&
          Object.hasOwnProperty.call(this.priceData[this.regions[region].id], this.time) &&
          Object.hasOwnProperty.call(this.priceData[this.regions[region].id][this.time], "color")){
          colors[this.regions[region].id] = this.priceData[this.regions[region].id][this.time].color;
        } else {
          colors[this.regions[region].id] = '#EEEEEE';
        }
      }
      return colors;
    },
    getOptions(){
    
      let options = {};
      
      for (let region in this.regions) {
      
        let result_dict = {}
        result_dict.strokeWeight = 1
        result_dict.strokeOpacity = 0.8
        result_dict.fillColor = this.regionColors[this.regions[region].id];
        result_dict.strokeColor = this.regionColors[this.regions[region].id];
        
        // Set the opacitty based on whether the map is being used for route
        if(this.isRoute){result_dict.fillOpacity = 0.2;}
        else{result_dict.fillOpacity = 0.3;}
        options[this.regions[region].id] = result_dict;
        
      }
      
      return options;
    }
  },
  created(){
    axios.get('http://34.89.85.191/zones').then(

      response => {
        for(let zone in response.data.zones){
          axios.get('http://34.89.85.191/zones/'+response.data.zones[zone].id).then(
            zone_response => {
              
              let new_coordinates = [];
              for(let i in zone_response.data.coordinates){
                new_coordinates.push({
                  lat: parseFloat(zone_response.data.coordinates[i].latitude),
                  lng: parseFloat(zone_response.data.coordinates[i].longitude),
                });
              }
              
              this.regions.push({
                id: zone_response.data.id,
                name: zone_response.data.name,
                type: ['good','okay','bad'][Math.floor(Math.random()*3)],
                coordinates: new_coordinates,
              });
              
          })
        }
      }
    )
  }
};
</script>

<style  scoped>

#MapsWidget {
    background-color: #EEEEEE;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#map{
    height: 100%;
    width: 100%;
}

</style>