<template>
  <div class="NavigationElement"
  v-bind:style="{
    background: background,
    'justify-content': alignment}" @click="click">
    <div id="IconFrame" >
      <i v-bind:class="icon"></i>
    </div>
    <div id="LinkText">
      <h1 v-if="!isCollapsed">{{title}}</h1>
    </div>
  </div>
</template>

<script>
export default {
  name: "NavigationElement",
  props: [
    "title", "icon", "isActive", "isCollapsed", "collapseButton"
  ],
  computed: {
    background : function(){
      if (this.isActive){return 'rgba(0,0,0,0.05)';}
      else{return 'rgba(0,0,0,0)';}
    },
    alignment : function(){
      if(this.isCollapsed){return 'center';}
      else {return 'left';}
    }
  },
  methods: {
    click(){
      this.$emit('change-view', this.title);
    }
  }
}
</script>

<style scoped>

.NavigationElement{
  height: 100%;
  width: 100%;
  display:flex;
  flex-direction: row;
  align-items: center;
  color: black;

  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: normal;
  vertical-align: baseline;
}

#LinkText{
  font-size: 0.5vw;
}

#IconFrame{
  width: 25%;
}

i{
  font-size: 0.9vw;
}

</style>