<template>
<div class="PlannedEventItem">
    <div id="KeyLine">
        <div id="EventDate">{{this.date}}</div>
        <div id="EventDescription">{{this.description}}</div>
        <div v-if="hasWebsite" id="HyperlinkIcon">
            <a target="_blank" rel="noopener noreferrer" v-bind:href="this.website">
                <i class="fas fa-external-link-alt"></i>
            </a>
        </div>
    </div>
    <div id="SubLine">
        <div id="EventTime">{{this.startTime + " - " + this.endTime.split(" ")[1]}}</div>
        <div id="EventZone">{{this.zoneId}}</div>
    </div>
</div>
    
</template>

<script>
export default {
    name: 'PlannedEventItem',
    props: [
        "date",
        "description",
        "zoneId",
        "startTime",
        "endTime",
        "website"
    ],
    data() {
        return {}
    },
    computed: {
        icon() {
            var iconMapping = {"collision": "fas fa-car-crash",
                           "construction": "fas fa-tools",
                           "closure": "fas fa-times-circle",
                           "flood": "fas fa-water",
                           "ice": "fas fa-snowflake"}
            var icon = iconMapping[this.iconType]
            if (icon == null) {icon = "fas fa-exclamation-triangle"}
            return icon
        },
        hasWebsite() {
            return !(this.website == null || this.website == '');
        }
    }
}
</script>

<style scoped>

.PlannedEventItem{
    display: flex;
    flex-direction: column;

    background-color: #EEEEEE;
    box-sizing: border-box;
    border-bottom: 1px solid #bbbbbb;

    padding: 2% 5% 2% 5%;
}

#KeyLine, #SubLine{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

#KeyLine{
    font-size: 1vw;
}


#SubLine{
    box-sizing: border-box;
    margin-left: 2%;
    margin-right: 2%;

    font-size: 0.6vw;
}

#HyperlinkIcon{
    font-size: 0.6vw;
    margin-top: auto;
    margin-bottom: auto;
}

#EventDescription{
    padding-left: 4%;
    padding-right: 4%;
    flex-grow: 1;
}

#EventTime{
    padding-right: 4%;
    flex: 1;
}

#EventZone{
    flex: 1;
}


</style>