<template>
<div class="PriceDisplayWidget">
    <div id="Title"> {{this.name + ":"}}</div>
    <div id="Price">
        <div id="Amount"> {{currentPriceString}}</div>  
        <div id="Indicator" v-bind:style="{ color: this.color }"> 
            <i v-if="predictedTrend === 1" class="fas fa-caret-up"></i>
            <i v-else-if="predictedTrend === -1" class="fas fa-caret-down"></i>
            <i v-else class="fas fa-circle" style="font-size: xx-small"></i>
        </div>
    </div>
</div>
    
</template>

<script>

export default {
    name: 'PriceDisplayWidget',
    props: [
        "name",
        "zoneId",
        "time",
        "priceData"
    ],
    data() {
        return {
          defaultPrice: 0
        }
    },
    computed: {
        price() {
          if(this.priceData != undefined &&
            Object.hasOwnProperty.call(this.priceData, this.time) ){
            return this.priceData[this.time].amount;
          }else{
            return this.defaultPrice;
          }
        },
        nextPrice() {
          let new_time = parseInt(this.time) + 1;
          if(new_time < 10){new_time = '0' + new_time.toString()}
          else{new_time = new_time.toString()}
          if(this.priceData != undefined &&
            Object.hasOwnProperty.call(this.priceData, new_time)){
            return this.priceData[new_time].amount;
          }else{
            return this.defaultPrice;
          }
        },
        color() {
          if(this.priceData != undefined &&
            Object.hasOwnProperty.call(this.priceData, this.time)){
            return this.priceData[this.time].color;
          }else{
            return '#EEEEEE';
          }
        },
        currentPriceString() {
          try {
            return this.price.toLocaleString('en-UK', { style: 'currency', currency: 'GBP'});
          } catch (TypeError) {
            return "£-.--";
          }
        },
        predictedTrend() {
            // should return 1 if next price is higher, -1 if lower,
            //   and 0 if constant (within some margin)
            let margin = 0.05;
            if (this.nextPrice > this.price + margin) {
              return 1;
            } else if (this.nextPrice < this.price - margin) {
              return -1;
            } else {
              return 0;
            }
        }
    },
    methods: {},
    created() {}
}
</script>

<style scoped>

.PriceDisplayWidget{
    display: flex;
    flex-direction: column;

    background-color: #EEEEEE;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: auto;
    line-height: 21px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    
}

#Title, #Price{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
}

#Title{
    padding-top: 10%;
    width: 100%;
    height: 30%;
}

#Price{
    width: 100%;
    heigth: 30%;
    padding-top: 10%;
    padding-bottom: 20%;
}

#Indicator{
    text-shadow: 0 0 2px #000;
    width: 10%;
}

#Neutral{
    font-size: small;
}

#Amount{
    width: 50%;
    font-weight: bold;
}

</style>