<template>
  <div id="RoutePlannerView">
    <maps-widget :isRoute="true"/>
  </div>
</template>

<script>
import MapsWidget from './MapsWidget.vue'

export default {
  name: "RoutePlannerView",
  components: {
    MapsWidget
  }
}
</script>

<style scoped>

#RoutePlannerView{
  display: grid;
  box-sizing: border-box;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(2, 1fr);

  grid-template-areas: 
  "map input";
  row-gap: 48px;
  column-gap: 48px;
  padding: 96px;

  background-color: #ffffff;
}

#MapsWidget{
  grid-area: map;
}

</style>