<template>
  <div id="SetEventsView">
    <FeedWidget type="events"/>
    <EventPlannerWidget></EventPlannerWidget>
  </div>
</template>

<script>
import FeedWidget from './FeedWidget'
import EventPlannerWidget from './EventPlannerWidget.vue'

export default {
  name: 'SetEventsView',
  components: {
    FeedWidget,
    EventPlannerWidget
  }
}
</script>

<style scoped>

#SetEventsView{
  display: grid;
  box-sizing: border-box;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(2, 1fr);

  grid-template-areas: "feed planner";
  row-gap: 48px;
  column-gap: 48px;
  padding: 96px;

  background-color: #ffffff;

}

#FeedWidget{
  grid-area: feed;
}

#EventPlannerWidget{
  grid-area: planner;
}


</style>