<template>
  <div id="app">
    <NavigationBar @update-view="setView"
     v-bind:style="{width: navBarSize + '%' }"
     v-on:toggle-collapse="toggleCollapse"
     v-on:change-view="changeView"/>
    <AppView :view="this.currentView" v-bind:style="{width: (100-navBarSize) + '%' }"/>
  </div>
</template>

<script>
import NavigationBar from './components/NavigationBar.vue'
import AppView from './components/AppView.vue'


export default {
  name: 'App',
  components: {
    NavigationBar,
    AppView,
    
  },
  data() {
    return {
      currentView: 0,
      navBarSize: 12,
    }
  },
  methods: {
    setView(view_id) {
      this.currentView = view_id
    },
    toggleCollapse(){
      if (this.navBarSize == 12){this.navBarSize = 4;}
      else if (this.navBarSize == 4){this.navBarSize = 12;}
    },
    changeView(view){
      if(view === "Dashboard"){this.currentView = 0}
      if(view === "Route Planner"){this.currentView = 1}
      if(view === "Passes"){this.currentView = 2}
      if(view === "Events"){this.currentView = 3} 
    }
  }
}
</script>

<style scoped>
#app {
  display: flex;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

#NavigationBar {
  height: 100%;
}

#AppView {
  height: 100%;
  flex: 1;
  max-height: 100%;
}

</style>
